@page "/"

<Table TItem="MasterVM"
          IsStriped="true" IsBordered="true"
          ShowToolbar="true" ShowRefresh="false"
          IsPagination="true" PageItemsSource="BootstrapBlazorUtil.PageItemsSource"
          ShowEditButton="false" ShowAddButton="false" ShowDeleteButton="false" OnQueryAsync="@OnQueryAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.PO_NO"
                     Filterable="false" Sortable="false" />
        <TableColumn @bind-Field="@context.PO_Item"
                     Filterable="false" Sortable="false" />
        <TableColumn @bind-Field="@context.Part_No"
                     Filterable="false" Sortable="false" />
        <TableColumn @bind-Field="@context.Qty"
                     Filterable="false" Sortable="false" />
        <TableColumn @bind-Field="@context.Recive_Qty"
                     Filterable="false" Sortable="false" />
        <TableColumn @bind-Field="@context.Return_Qty"
                     Filterable="false" Sortable="false" />
        <TableColumn @bind-Field="@context.PO_DATE"
                     Filterable="false" Sortable="false"/>
    </TableColumns>
    <DetailRowTemplate>
        <TableDetail PO_Item="@context.PO_Item" PO_NO="@context.PO_NO" />
    </DetailRowTemplate>
</Table>

